@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* p, * h1, * h2, * h3, * h4, * h5 {
  margin-bottom: 0;
}

* .row__width {
  width: 100%;
}

* a {
  cursor: pointer;
}

:root {
  --gris__header: #989898;
  --gris__a:#B2B2B2;
  --gris__a__hover:#ffff;
  --color1:#ff997d;
  --color2:#6cd4ce;
  --n__1:#ff997d4d;
  --n__2:#ffa1134d;
}

@font-face {
  font-family: 'Söhne Breit';
  src: url("../../fonts/SB/SohneBreit-Halbfett.ttf");
}

header {
  background-color: #0F0F0F;
  min-height: 70px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

header ul li {
  color: var(--gris__header);
  margin: 0px 15px;
}

header ul li img {
  margin-left: 5px;
}

header ul li ul {
  background-color: #171717;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
  border-radius: 0px 0px 22px 22px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 120%;
  min-height: 70%;
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  display: none;
  z-index: 2;
}

header ul li ul .col-2 {
  height: 100%;
}

header ul li ul .col-2 li {
  padding: 10px 5px;
}

header ul li:hover ul, header ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

header a {
  color: var(--gris__a);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 5px;
}

header a:hover, header a:focus {
  color: inherit;
}

header a img {
  margin-right: 5px;
}

header .box {
  position: relative;
  background: rgba(221, 221, 221, 0.1);
  padding: 10px;
  height: 50px;
  border-radius: 16px;
  z-index: 0;
}

header .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color2)), to(var(--color1)));
  background: linear-gradient(to top, var(--color2), var(--color1));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

header .box:hover, header .box:focus {
  background: #171717;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 6px #0F0F0F;
          box-shadow: 0px 3px 6px #0F0F0F;
}

header .box:hover:before, header .box:focus:before {
  content: none;
}

header .box a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #F5F5F5;
}

header span {
  height: 20px;
  width: 1px;
  background-color: #363535;
  margin: 0px 20px;
}

header .busqueda {
  background-color: #262626;
  border-radius: 10px;
  height: 40px;
}

@media (min-width: 992px) {
  header .busqueda {
    min-width: 300px;
  }
}

@media (max-width: 992px) {
  header .busqueda {
    background-color: transparent;
  }
}

header .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
  height: 100%;
}

header .busqueda input::-webkit-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input:-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  height: 25px;
}

header .menu button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
}

.menu__seccion .menu__mobile {
  background-color: #171717;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__seccion .menu__mobile .cerrar {
  padding: 10px 15px;
}

.menu__seccion .menu__mobile .cerrar button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion .menu__mobile .cerrar button img {
  height: 15px;
}

.menu__seccion .menu__mobile ul {
  margin-bottom: 0;
  height: 100%;
}

.menu__seccion .menu__mobile ul li {
  padding: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Söhne Breit';
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__seccion .menu__mobile ul li span {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #67676748;
}

.menu__seccion .menu__mobile ul li span img {
  margin-left: 5px;
}

.menu__seccion .menu__mobile ul li ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: none !important;
  min-width: none !important;
  padding: 0;
}

.menu__seccion .menu__mobile ul li ul li {
  background-color: transparent;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6E6E6E;
}

.menu__seccion .menu__mobile ul li:hover ul, .menu__seccion .menu__mobile ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audio {
  background-color: #232323;
  border-radius: 15px;
  min-height: 70px;
  margin: 10px 0px;
}

.audio .titulo button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 50px;
}

.audio .titulo h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
  padding-left: 15px;
}

.audio .descripcion button {
  background-color: #3A3A3A;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  min-height: 25px;
}

.audio .descripcion button p + img {
  margin-left: 5px;
}

.audio .descripcion button p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #9B9B9B;
}

.audio .descripcion h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
  margin-left: 15px;
}

.audio .descripcion h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
}

.audio .herramientas {
  position: relative;
}

.audio .herramientas a {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #6F6F6F;
  text-decoration: underline;
}

.audio .herramientas button {
  border: none;
  background-color: transparent;
  outline: none;
}

.audio .herramientas h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C5C5C5;
}

.audio .herramientas p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #DDDDDD;
}

.audio .herramientas .obtener {
  position: relative;
  background-color: #2A2A2A;
  border-radius: 12px;
  border-radius: 16px;
  z-index: 0;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B6B6B6;
  min-height: 40px;
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio .herramientas .obtener::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--n__2)), to(var(--n__1)));
  background: linear-gradient(to top, var(--n__2), var(--n__1));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.audio .herramientas .obtener:hover, .audio .herramientas .obtener:focus {
  color: #f0f0f0;
  background: #161616;
}

.audio .herramientas .obtener:hover:before, .audio .herramientas .obtener:focus:before {
  content: none;
}

.audio .herramientas .obtener img {
  margin-left: 5px;
  margin-top: 2px;
}

body {
  background-color: #171717;
}

body .audio__seccion {
  background-image: url("../img/audios_icons/fondo_audio.svg");
  background-repeat: no-repeat;
  min-height: 150px;
}

@media (min-width: 992px) {
  body .audio__seccion {
    min-height: 700px;
  }
}

@media (min-width: 992px) {
  body .audio__seccion .padding__escritorio {
    padding-top: 10%;
  }
}

body .audio__seccion .contenedor__fondo h2 {
  font-family: 'Söhne Breit';
  font-size: 24px;
  line-height: 88%;
  letter-spacing: -0.02em;
  color: #C3C3C3;
  padding: 20px 0px 30px 0px;
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo h2 {
    font-size: 48px;
  }
}

body .audio__seccion .contenedor__fondo h5 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #D8D8D8;
  text-align: left;
  width: 100%;
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo h5 {
    font-size: 14px;
  }
}

body .audio__seccion .contenedor__fondo p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #6F6F6F;
  width: 100%;
  padding: 5px 0px;
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo p {
    font-size: 14px;
  }
}

body .audio__seccion .contenedor__fondo .borde {
  border-right: 1px solid #767676;
}

body .audio__seccion .contenedor__fondo .detalles__before {
  position: relative;
}

body .audio__seccion .contenedor__fondo .detalles__before::before {
  content: '';
  position: absolute;
  background-color: #6F6F6F;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo .detalles__before::before {
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo .detalles__before p {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo .reproductor {
    padding-top: 100px;
  }
}

body .audio__seccion .contenedor__fondo .reproductor button {
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: 992px) {
  body .audio__seccion .contenedor__fondo .reproductor .play img {
    height: 40px;
  }
}

body .audio__seccion .contenedor__fondo .reproductor p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #AEAEAE;
}

body .audio__seccion .contenedor__fondo .reproductor .btn__obtener {
  background-color: #2A2A2A;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B6B6B6;
}

body .reproductor button {
  background-color: transparent;
  border: none;
  outline: none;
}

body .reproductor p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #AEAEAE;
}

body .contenedor {
  background-color: #141414;
}

body .contenedor .obtener {
  padding: 30px 0px 0px 0px;
}

body .contenedor .obtener .btn__obtener {
  background-color: #2A2A2A;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B6B6B6;
}

body .borde__contenedor {
  border-bottom: 1px solid #222222;
}

@media (min-width: 992px) {
  body .borde__contenedor {
    border-bottom: 0;
  }
}

@media (min-width: 992px) {
  body .borde__contenedor .detalles {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
  }
}

body .borde__contenedor .detalles div {
  padding: 15px 15px;
}

body .borde__contenedor .detalles div h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #D8D8D8;
  padding: 10px 0px;
}

@media (min-width: 992px) {
  body .borde__contenedor .detalles div h3 {
    font-size: 14px;
  }
}

body .borde__contenedor .detalles div p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6F6F6F;
}

@media (min-width: 992px) {
  body .borde__contenedor .detalles div p {
    font-size: 14px;
  }
}

body .versiones h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ACACAC;
  padding-left: 10px;
}

@media (min-width: 992px) {
  body .versiones h4 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=audio__individual.css.map */