@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* p, * h1, * h2, * h3, * h4, * h5 {
  margin-bottom: 0;
}

* .row__width {
  width: 100%;
}

* a {
  cursor: pointer;
}

:root {
  --gris__header: #989898;
  --gris__a:#B2B2B2;
  --gris__a__hover:#ffff;
  --color1:#ff997d;
  --color2:#6cd4ce;
  --n__1:#ff997d4d;
  --n__2:#ffa1134d;
}

@font-face {
  font-family: 'Söhne Breit';
  src: url("../../assets/fonts/SB/SohneBreit-Halbfett.ttf");
}

header {
  background-color: #0F0F0F;
  min-height: 70px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

header ul li {
  color: var(--gris__header);
  margin: 0px 15px;
}

header ul li img {
  margin-left: 5px;
}

header ul li:hover, header ul li:focus {
  color: #fff;
}

header ul li ul {
  background-color: #171717;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
  border-radius: 0px 0px 22px 22px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 120%;
  min-height: 70%;
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  display: none;
  z-index: 2;
}

header ul li ul .col-2 {
  height: 100%;
}

header ul li ul .col-2 li {
  padding: 10px 5px;
}

header ul li:hover ul, header ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

header a {
  color: var(--gris__a);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 5px;
}

header a:hover, header a:focus {
  color: #fff;
}

header a img {
  margin-right: 5px;
}

header .box {
  position: relative;
  background: rgba(221, 221, 221, 0.1);
  padding: 10px;
  height: 50px;
  border-radius: 16px;
  z-index: 0;
}

header .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color2)), to(var(--color1)));
  background: linear-gradient(to top, var(--color2), var(--color1));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

header .box:hover, header .box:focus {
  background: #171717;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 6px #0F0F0F;
          box-shadow: 0px 3px 6px #0F0F0F;
}

header .box:hover:before, header .box:focus:before {
  content: none;
}

header .box a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #F5F5F5;
}

header span {
  height: 20px;
  width: 1px;
  background-color: #363535;
  margin: 0px 20px;
}

header .busqueda {
  background-color: #262626;
  border-radius: 10px;
  height: 40px;
}

@media (min-width: 992px) {
  header .busqueda {
    min-width: 300px;
  }
}

@media (max-width: 992px) {
  header .busqueda {
    background-color: transparent;
  }
}

header .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
  height: 100%;
}

header .busqueda input::-webkit-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input:-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  height: 25px;
}

header .menu button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
}

.menu__seccion .menu__mobile {
  background-color: #171717;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__seccion .menu__mobile .cerrar {
  padding: 10px 15px;
}

.menu__seccion .menu__mobile .cerrar button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion .menu__mobile .cerrar button img {
  height: 15px;
}

.menu__seccion .menu__mobile ul {
  margin-bottom: 0;
  height: 100%;
}

.menu__seccion .menu__mobile ul li {
  padding: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Söhne Breit';
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__seccion .menu__mobile ul li span {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #67676748;
}

.menu__seccion .menu__mobile ul li span img {
  margin-left: 5px;
}

.menu__seccion .menu__mobile ul li ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: none !important;
  min-width: none !important;
  padding: 0;
}

.menu__seccion .menu__mobile ul li ul li {
  background-color: transparent;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6E6E6E;
}

.menu__seccion .menu__mobile ul li:hover ul, .menu__seccion .menu__mobile ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #181818;
  min-height: 280px;
}

@media (max-width: 992px) {
  .footer {
    padding-top: 80px;
  }
}

.footer .borde__bottom {
  border-bottom: 1px solid #494949;
}

.footer .info a {
  width: 100%;
}

.footer .info .logo {
  height: 70px;
  width: 70px;
}

.footer .info .titulo {
  height: 20px;
}

.footer .info .idioma .col {
  max-width: 9%;
}

@media (max-width: 992px) {
  .footer .info .idioma .col {
    max-width: 40%;
  }
}

.footer .info .idioma .borde {
  border-right: 2px solid #C1BCBC;
}

.footer .info .idioma p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  cursor: pointer;
}

.footer .info .idioma p:hover, .footer .info .idioma p:focus {
  color: #ffffff;
}

.footer .info .idioma .active {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #E2E2E2;
}

.footer .info .plataformas a {
  width: 32px !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2D2D;
  border-radius: 50%;
  margin: 0px 10px;
}

.footer .info .plataformas a:first-child {
  margin: 0;
}

.footer .generos h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #C8C8C8;
}

.footer .generos a {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6F6F;
  padding-bottom: 10px;
}

.footer .generos a:hover, .footer .generos a:focus {
  color: #ffffff;
}

.footer .copy p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  margin: 0px 10px;
  text-align: center;
}

.footer .copy p:first-child {
  margin-left: 0;
}

.footer .copy span {
  height: 100%;
  width: 5px;
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .footer .copy span {
    display: none;
  }
}

.footer .before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .before:before {
  content: '';
  background-color: #494949;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer .before::before {
    content: none;
  }
}

body {
  background-color: #ECECEC;
}

body .licencia h2 {
  font-family: 'Söhne Breit';
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #171717;
  padding: 30px 0px 60px 0px;
}

body .licencia .contenedor {
  background: #FFFFFF;
  border-radius: 31px;
  min-height: 600px;
  padding: 80px 60px;
}

@media (max-width: 992px) {
  body .licencia .contenedor {
    padding: 30px 20px;
  }
}

body .licencia .contenedor h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #545353;
  padding: 40px 0px;
  text-align: left;
}

body .licencia .contenedor p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #676767;
}

body .licencia .musica {
  padding: 70px 0px 30px 0px;
}

body .licencia .musica h4 {
  font-family: 'Söhne Breit';
  font-size: 60px;
  line-height: 81.9%;
  text-align: center;
  color: #171717;
}

body .licencia .boton {
  padding: 30px 0px 70px 0px;
}

body .licencia .boton a {
  text-decoration: none;
  background-color: #171717;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F5F5;
  height: 60px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .licencia .boton a:hover, body .licencia .boton a:focus {
  color: #545454;
}

body .ayuda h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #171717;
}

body .ayuda .busqueda {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 50px;
}

body .ayuda .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  color: #171717;
  font-size: 14px;
}

body .ayuda .busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
}

body .ayuda .accordion-item {
  background-color: transparent;
  border: none;
}

body .ayuda .accordion-item a {
  color: #DDDDDD;
  text-decoration: none;
}

body .ayuda .accordion-item .accordion-button:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body .ayuda .accordion-item .accordion-button {
  background-color: #181818;
  border-radius: 15px;
  margin: 10px 0px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  min-height: 70px;
}

body .ayuda .accordion-item .accordion-button::after {
  content: none;
}

body .ayuda .accordion-item .accordion-button h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
  padding: 0px 25px;
}

body .ayuda .accordion-item .accordion-button button {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FF997D;
}

body .ayuda .accordion-item .accordion-collapse {
  padding: 0;
  background-color: transparent;
}

body .ayuda .accordion-item .accordion-collapse .accordion-body {
  padding: 0;
}

body .ayuda .accordion-item .accordion-collapse .div {
  background-color: #171717;
  border-radius: 15px;
  height: 80px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .ayuda .detalles h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #171717;
  padding: 20px 0px;
}

body .ayuda .detalles p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #676767;
  padding: 20px 0px;
}

body .ayuda .detalles .div {
  margin: 10px 0px;
}

body .ayuda .detalles .div span {
  background-color: #000000;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .ayuda .detalles .div span {
    height: 30px;
    width: 30px;
  }
}

body .ayuda .detalles .div p {
  margin-left: 15px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  min-width: 70px;
}

body .ayuda .detalles .btn {
  padding: 30px 0px;
}

body .ayuda .detalles .btn button {
  background-color: #171717;
  border-radius: 16px;
  height: 50px;
  width: 90%;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F5F5F5;
}

@media (min-width: 992px) {
  body .ayuda .detalles {
    min-height: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 45px;
  }
  body .ayuda .detalles h2 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #676767;
    width: 100%;
    text-align: left;
    max-width: 60%;
  }
  body .ayuda .detalles p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
    max-width: 60%;
  }
  body .ayuda .detalles button {
    max-width: 40%;
  }
}

body .ayuda .acuerdo {
  min-height: 300px;
  background-color: #fff;
  border-radius: 31px;
  padding: 80px 45px;
}

body .ayuda .acuerdo h2 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding: 30px 0px;
}

body .ayuda .acuerdo h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
  padding: 15px 0px;
}

body .ayuda .acuerdo input {
  background-color: transparent;
  outline: none;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
  padding-left: 15px;
  width: 100%;
  min-height: 50px;
}

body .ayuda .acuerdo input::-webkit-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
}

body .ayuda .acuerdo input:-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
}

body .ayuda .acuerdo input::-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
}

body .ayuda .acuerdo input::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
}

body .ayuda .acuerdo button {
  background-color: #171717;
  border-radius: 16px;
  height: 50px;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F5F5F5;
  margin: 30px 0px;
  min-width: 150px;
}

body .cuenta .titulo h1 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  color: #171717;
}

@media (min-width: 992px) {
  body .cuenta .titulo h1 {
    font-size: 34px;
    line-height: 31px;
  }
}

body .cuenta .titulo p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3B3;
  padding: 20px 0px;
}

body .cuenta .herramientas {
  overflow: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  padding: 0;
}

body .cuenta .herramientas::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

body .cuenta .herramientas div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .cuenta .herramientas div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px 0px;
}

body .cuenta .herramientas div a:hover, body .cuenta .herramientas div a:focus {
  color: #0A0909;
}

body .cuenta .herramientas div .active {
  color: #0A0909;
}

body .cuenta .herramientas div .active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #9C9C9C;
  border-radius: 10px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

body .cuenta .herramientas .corto {
  min-width: 80px;
}

body .cuenta .herramientas .largo {
  min-width: 160px;
}

body .cuenta .herramientas .medio {
  min-width: 110px;
}

body .cuenta .herramientas__escritorio a {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #7F7F7F;
  text-decoration: none;
  padding: 30px 0px;
}

body .cuenta .herramientas__escritorio a:hover, body .cuenta .herramientas__escritorio a:focus {
  color: #0A0909;
}

body .cuenta .herramientas__escritorio .active {
  color: #0A0909;
}

body .cuenta .herramientas__escritorio p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3B3;
}

body .cuenta .herramientas__escritorio .contenidos a {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
  padding: 10px 0px;
}

body .cuenta .herramientas__escritorio .borde {
  border: 1px solid #B0B0B0;
  padding: 0px 15px;
}

body .cuenta .secciones__herramientas .plan {
  background-color: #FFFFFF;
  border-radius: 31px;
  padding: 0px 0px;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan {
    padding: 30px 30px;
    min-height: 500px;
  }
}

body .cuenta .secciones__herramientas .plan h4 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #151515;
  position: relative;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan h4 {
    font-size: 14px;
  }
  body .cuenta .secciones__herramientas .plan h4 a {
    position: absolute;
    top: -5px;
    margin-left: 5px;
  }
  body .cuenta .secciones__herramientas .plan h4 a img {
    height: 10px;
  }
}

body .cuenta .secciones__herramientas .plan a {
  text-decoration: none;
}

body .cuenta .secciones__herramientas .plan .detalles {
  border: 1px solid #B0B0B0;
  border-right: 0;
  border-left: 0;
  padding: 20px 15px;
}

@media (max-width: 992px) {
  body .cuenta .secciones__herramientas .plan .detalles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .detalles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .cuenta .secciones__herramientas .plan .detalles h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  color: #171717;
  padding: 10px 0px;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .detalles h2 {
    font-size: 24px;
  }
}

body .cuenta .secciones__herramientas .plan .detalles h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
  padding-top: 10px;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .detalles h3 {
    font-size: 14px;
  }
}

body .cuenta .secciones__herramientas .plan .detalles a {
  background-color: #171717;
  border-radius: 16px;
  height: 40px;
  min-width: 150px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .detalles a {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  body .cuenta .secciones__herramientas .plan .informacion .div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .informacion .div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .cuenta .secciones__herramientas .plan .informacion h5 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .informacion h5 {
    font-size: 14px;
  }
}

body .cuenta .secciones__herramientas .plan .informacion p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
  padding: 10px 0px;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .informacion p {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #151515;
  }
}

body .cuenta .secciones__herramientas .plan .informacion .modificar {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FF5B2B;
  height: 40px;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cuenta .secciones__herramientas .plan .informacion .cancelar {
  height: 40px;
  min-width: 100px;
  background: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cuenta .secciones__herramientas .plan .borde {
  border-bottom: 1px solid #B0B0B0;
}

body .cuenta .secciones__herramientas .plan .eliminar p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #797878;
}

body .cuenta .secciones__herramientas .plan .descargas .borde {
  border-bottom: 1px solid #B0B0B0;
}

body .cuenta .secciones__herramientas .plan .descargas .terminos h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0A0909;
  padding-right: 5px;
}

body .cuenta .secciones__herramientas .plan .descargas .terminos a {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #FF997D;
}

body .cuenta .secciones__herramientas .plan .descargas .busqueda {
  border: 1px solid #151515;
  border-radius: 14px;
  width: 60%;
  height: 40px;
  background-color: #FFFFFF;
}

@media (max-width: 992px) {
  body .cuenta .secciones__herramientas .plan .descargas .busqueda {
    width: 100%;
  }
}

body .cuenta .secciones__herramientas .plan .descargas .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  width: 100%;
  padding-left: 5px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #3F3F3F;
}

body .cuenta .secciones__herramientas .plan .descargas .busqueda button {
  border: none;
  background-color: transparent;
  height: 40px;
  padding: 0px 10px;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks h4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #0A0909;
  padding-left: 20px;
  width: 100%;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .descargas .tracks h4 {
    font-size: 12px;
    padding-left: 0;
  }
}

body .cuenta .secciones__herramientas .plan .descargas .tracks p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #151515;
  padding: 0;
  width: 100%;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .descargas .tracks p {
    font-size: 12px;
  }
}

body .cuenta .secciones__herramientas .plan .descargas .tracks h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3F3F3F;
  width: 100%;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .descargas .tracks h5 {
    font-size: 12px;
  }
}

body .cuenta .secciones__herramientas .plan .descargas .tracks button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .nombre__autor {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #151515;
  border-bottom: 1px solid #525151;
  padding: 1px 0px;
  width: 100%;
}

@media (min-width: 992px) {
  body .cuenta .secciones__herramientas .plan .descargas .tracks .nombre__autor {
    font-size: 12px;
  }
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item {
  position: relative;
  max-width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-button {
  color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffff;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-button h4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #0A0909;
  padding-left: 20px;
  width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-button p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #151515;
  padding: 0;
  width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-collapse h4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #0A0909;
  width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-collapse h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3F3F3F;
  width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-collapse button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-collapse .nombre__autor {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #151515;
  border-bottom: 1px solid #525151;
  padding: 5px 0px;
  width: 100%;
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../img/cuenta_icons/flecha__abajo.svg");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body .cuenta .secciones__herramientas .plan .descargas .tracks .accordion-item .accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../img/cuenta_icons/flecha__abajo.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: absolute;
  left: 15px;
}

body .cuenta .secciones__herramientas .plan .descargas .pagination__mobile button {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0px 10px;
}

body .cuenta .secciones__herramientas .plan .descargas .paginacion__escr ul {
  margin-bottom: 0;
}

body .cuenta .secciones__herramientas .plan .descargas .paginacion__escr .page-item .page-link {
  border: none;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  max-width: 25px;
  height: 25px;
  margin: 0px 7px;
}

body .cuenta .secciones__herramientas .plan .descargas .paginacion__escr .active .page-link {
  background: #FF5B2B;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

body .cuenta .enlaces {
  padding: 40px 0px;
}

body .cuenta .enlaces a {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cuenta .soporte h4 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #151515;
}

@media (min-width: 992px) {
  body .cuenta .soporte h4 {
    font-size: 14px;
  }
}

body .cuenta .soporte h2 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A0909;
  padding: 20px 0px;
}

@media (min-width: 992px) {
  body .cuenta .soporte h2 {
    font-size: 18px;
    padding: 10px 0px;
  }
}

body .cuenta .soporte p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #0A0909;
}

@media (min-width: 992px) {
  body .cuenta .soporte p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #CC7960;
  }
}

body .cuenta .soporte h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #686868;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  body .cuenta .soporte h3 {
    font-size: 16px;
  }
}

body .cuenta .soporte input {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #686868;
}

@media (min-width: 992px) {
  body .cuenta .soporte input {
    font-size: 14px;
    height: 70px;
  }
}

body .cuenta .soporte .btn__enviar {
  background-color: #171717;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #F5F5F5;
  border: none;
  outline: none;
  min-width: 150px;
  height: 40px;
}

@media (min-width: 992px) {
  body .cuenta .soporte .btn__enviar {
    font-size: 14px;
  }
}

body .fondo__gris {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 98;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fondo__gris .modal {
  background-color: #FFFFFF;
  border-radius: 25px;
  min-height: 250px;
  max-width: 50%;
  position: relative;
  z-index: 99;
}

body .fondo__gris .modal input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 1px solid #9E9E9E;
  height: 18px;
  width: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

body .fondo__gris .modal input[type=checkbox]::before {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  opacity: 2;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F69572;
  border-radius: 50%;
}

body .fondo__gris .modal label {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D0D0C;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  body .fondo__gris .modal label img {
    height: 20px;
  }
}

body .fondo__gris .modal label .tarjetas {
  padding-left: 15px;
}

body .fondo__gris .modal input[type=checkbox]:checked::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fondo__gris .modal .borde {
  border-bottom: 1px solid #B0B0B0;
}

body .fondo__gris .modal button {
  border: none;
  background-color: transparent;
  outline: none;
}

body .fondo__gris .modal h4 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #151515;
}

body .fondo__gris .modal h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  width: 100%;
  padding: 10px 0px;
}

body .fondo__gris .modal input[type=text], body .fondo__gris .modal input[type=number] {
  background-color: transparent;
  border: 1px solid #686868;
  border-radius: 12px;
  height: 40px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #686868;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
}

body .fondo__gris .modal p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #686868;
}

body .fondo__gris .modal .continuar {
  background-color: #171717;
  border-radius: 16px;
  height: 50px;
  width: 100%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F5F5F5;
}

body .fondo__gris .modal .paypal {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding: 30px 0px;
}

body .fondo__gris .modal h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

body .fondo__gris .modal a {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FF5B2B;
}

body .fondo__gris .modal .establecer {
  background: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  width: 100%;
  height: 50px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
}

body .fondo__gris .modal .cancelar {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

body .fondo__gris .modal .cambiar .incluidos {
  background: #F9F9F9;
  border-radius: 26px;
  min-height: 200px;
}

body .fondo__gris .modal .cambiar .incluidos h5 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

body .fondo__gris .modal .cambiar .incluidos span {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fondo__gris .modal .cambiar .incluidos span p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0D0D0C;
  padding-left: 15px;
}

body .fondo__gris .modal .cambiar .planes h5 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 10px;
}

body .fondo__gris .modal .cambiar .planes h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  color: #0D0D0C;
}

body .fondo__gris .modal .cambiar .planes h6 {
  font-family: 'Söhne Breit';
  font-size: 8px;
  line-height: 9px;
  color: #838383;
  padding-top: 10px;
}

body .fondo__gris .modal .cambiar .planes p {
  font-family: 'Söhne Breit';
  font-size: 12px;
  line-height: 14px;
  color: #6F6F6F;
  padding-top: 10px;
}

body .fondo__gris .modal .cambiar .planes .comprar {
  border: 1px solid rgba(255, 91, 43, 0.3);
  border-radius: 16px;
  width: 100%;
  max-width: 100px;
  height: 35px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FF5B2B;
}
/*# sourceMappingURL=herramientas.css.map */