@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* p, * h1, * h2, * h3, * h4, * h5 {
  margin-bottom: 0;
}

* .row__width {
  width: 100%;
}

:root {
  --gris__header: #989898;
  --gris__a:#B2B2B2;
}

header {
  background-color: #0F0F0F;
  min-height: 70px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

header ul li {
  color: var(--gris__header);
  margin: 0px 15px;
}

header ul li img {
  margin-left: 5px;
}

header ul li ul {
  background-color: #171717;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
  border-radius: 0px 0px 22px 22px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 120%;
  min-height: 70%;
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  display: none;
  z-index: 2;
}

header ul li ul .col-2 {
  height: 100%;
}

header ul li ul .col-2 li {
  padding: 10px 5px;
}

header ul li:hover ul, header ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

header a {
  color: var(--gris__a);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 5px;
}

header a:hover, header a:focus {
  color: inherit;
}

header a img {
  margin-right: 5px;
}

header span {
  height: 20px;
  width: 1px;
  background-color: #363535;
  margin: 0px 20px;
}

header .empezar {
  background: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #989898;
}

header .empezar::before {
  content: '';
  position: absolute;
  border: inherit;
  -o-border-image: linear-gradient(180deg, #FF997D 0%, #6CD5CE 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#FF997D), to(#6CD5CE));
     border-image: linear-gradient(180deg, #FF997D 0%, #6CD5CE 100%);
}

header .busqueda {
  background-color: #262626;
  border-radius: 10px;
  height: 40px;
}

@media (min-width: 992px) {
  header .busqueda {
    min-width: 300px;
  }
}

@media (max-width: 992px) {
  header .busqueda {
    background-color: transparent;
  }
}

header .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
  height: 100%;
}

header .busqueda input::-webkit-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input:-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  height: 25px;
}

header .menu button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
}

.menu__seccion .menu__mobile {
  background-color: #171717;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__seccion .menu__mobile .cerrar {
  padding: 10px 15px;
}

.menu__seccion .menu__mobile .cerrar button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion .menu__mobile .cerrar button img {
  height: 15px;
}

.menu__seccion .menu__mobile ul {
  margin-bottom: 0;
  height: 100%;
}

.menu__seccion .menu__mobile ul li {
  padding: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Söhne Breit';
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__seccion .menu__mobile ul li span {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #67676748;
}

.menu__seccion .menu__mobile ul li span img {
  margin-left: 5px;
}

.menu__seccion .menu__mobile ul li ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: none !important;
  min-width: none !important;
  padding: 0;
}

.menu__seccion .menu__mobile ul li ul li {
  background-color: transparent;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6E6E6E;
}

.menu__seccion .menu__mobile ul li:hover ul, .menu__seccion .menu__mobile ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #181818;
  min-height: 280px;
}

@media (max-width: 992px) {
  .footer {
    padding-top: 80px;
  }
}

.footer .borde__bottom {
  border-bottom: 1px solid #494949;
}

.footer .info a {
  width: 100%;
}

.footer .info .logo {
  height: 70px;
  width: 70px;
}

.footer .info .titulo {
  height: 20px;
}

.footer .info .idioma .col {
  max-width: 9%;
}

@media (max-width: 992px) {
  .footer .info .idioma .col {
    max-width: 40%;
  }
}

.footer .info .idioma .borde {
  border-right: 2px solid #C1BCBC;
}

.footer .info .idioma p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
}

.footer .info .idioma .active {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #E2E2E2;
}

.footer .info .plataformas a {
  width: 32px !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2D2D;
  border-radius: 50%;
  margin: 0px 10px;
}

.footer .info .plataformas a:first-child {
  margin: 0;
}

.footer .generos h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #C8C8C8;
}

.footer .generos a {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6F6F;
  padding-bottom: 10px;
}

.footer .copy p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  margin: 0px 10px;
  text-align: center;
}

.footer .copy p:first-child {
  margin-left: 0;
}

.footer .copy span {
  height: 100%;
  width: 2px;
  background-color: #6E6E6E;
}

.footer .before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .before:before {
  content: '';
  background-color: #494949;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #ECECEC;
}

body .licencia h2 {
  font-family: 'Söhne Breit';
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #171717;
  padding: 30px 0px 60px 0px;
}

body .licencia .contenedor {
  background: #FFFFFF;
  border-radius: 31px;
  min-height: 600px;
  padding: 80px 60px;
}

@media (max-width: 992px) {
  body .licencia .contenedor {
    padding: 30px 20px;
  }
}

body .licencia .contenedor h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #545353;
  padding: 40px 0px;
  text-align: left;
}

body .licencia .contenedor p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #676767;
}

body .licencia .musica {
  padding: 70px 0px 30px 0px;
}

body .licencia .musica h4 {
  font-family: 'Söhne Breit';
  font-size: 60px;
  line-height: 81.9%;
  text-align: center;
  color: #171717;
}

body .licencia .boton {
  padding: 30px 0px 70px 0px;
}

body .licencia .boton a {
  text-decoration: none;
  background-color: #171717;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F5F5;
  height: 60px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .licencia .boton a:hover, body .licencia .boton a:focus {
  color: #545454;
}
/*# sourceMappingURL=herramientas.css.map */