@import "imports/styles";
@import "imports/playlists";
@import "imports/audios";
@import "imports/footer";
@import "imports/planes";

:root{
    --color1:#ff997d;
    --color2:#6cd4ce;
    --gardient1: -webkit-linear-gradient(top, var(--color1) 0%, bottom var(--color2) 100%);
}
.container-fluid{
    background-color: #0F0F0F;
    header{
        background-color: #0F0F0F;
        min-height: 70px;
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            width: 100%;
            height: 100%;
            position: relative;
            li{
                color: var(--gris__header);
                margin: 0px 15px;
                &:hover, &:focus{
                    color: var(--gris__a__hover);
                }
                img{
                    margin-left: 5px;
                }
                ul{
                    background-color: #171717;
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
                    border-radius: 0px 0px 22px 22px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 120%;
                    min-height: 70%;
                    min-height: 300px;
                    width: 100%;
                    min-width: 900px;
                    display: none;
                    z-index: 2;
                    .col-2{
                        height: 100%;
                        li{
                            padding: 10px 5px;
                        }
                    }
                }
                &:hover, &:focus{
                    ul{
                        display: flex;
                        transition: ease 0.5s;
                    }
                }
            }
        }
        a{
            color: var(--gris__a);
            text-decoration: none;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin: 0px 5px;
            &:hover, &:focus{
                color: var(--gris__a__hover);
            }
            img{
                margin-right: 5px;
            }
        }
        .box{
            position:relative;
            background: rgba(221, 221, 221, 0.1);
            padding: 10px;
            height: 50px;
            border-radius: 16px;
            z-index:0;
            &::before{
                content:"";
                position:absolute;
                z-index:-1;
                top:0;
                left:0;
                right:0;
                bottom:0;
                padding: 2px;
                border-radius: 16px;
                background: linear-gradient(to top, var(--color2), var(--color1));
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                        mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }
            &:hover, &:focus{
                background: #171717;
                border-radius: 16px;
                &:before{
                    content: none;
                }
                a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    color: #F5F5F5;
                }
            }
            .empezar{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                min-height: 50px;
                border-radius: 16px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: #989898;
            }
        }
        // .box{
        //     background: #eee;
        //     background: rgba(221, 221, 221, 0.1);
        //     position: relative;
        //     border: 2px solid transparent;
        //     border-radius: 16px;
        //     background-clip: padding-box;
        //     padding: 10px;
        //     border-image: linear-gradient(to bottom, var(--color1) 0%, var(--color2) 100%);
        //     border-image-slice: 20;
        //     .empezar{
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         width: 100%;
        //         height: 100%;
        //         min-height: 50px;
        //         border-radius: 16px;
        //     }
        // }
    }
    .contenedor{
        position: relative;
        #gradient-canvas {
            --gradient-color-1: #b3d8ea;
            --gradient-color-2: #505583;
            --gradient-color-3: #ee7c47;
            --gradient-color-4: #eeeef5;
            padding: 0;
            max-height: 20%;
        }
        .contenedor__superpuesto{
            position: absolute;
            top: 0;
            .titulo{
                padding-top: 10%;
                h1{
                    font-family: 'Söhne Breit';
                    font-size: 80px;
                    line-height: 59px;
                    text-align: center;
                    font-weight: 400;
                    color: #171717;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                h4{
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #2D2D2D;
                    padding-top: 2%;
                }
            }
            .input__busqueda{
                position: absolute;
                bottom: -80%;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #171717;
                    padding-bottom: 25px;
                }
                .input{
                    background-color: #E9E9E9;
                    border: 2px solid #DDDDDD;
                    border-radius: 36px;
                    width: 100%;
                    height: 100px;
                }
                input{
                    outline: none;
                    border: none;
                    background-color: transparent;
                    width: 95%;
                    height: 100%;
                    padding-left: 5%;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #838383;
                    &::placeholder{
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: #838383;
                    }
                }
                button{
                    border: none;
                    background-color: transparent;
                    outline: none;
                }
            }
        }
    }
    .contendor__gris{
        background-color: #181818;
        border-radius: 0px 0px 100px 100px;
        min-height: 1000px;
        .categorias{
            padding-top: 3%;
            h4{
                font-family: 'Inter';
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #A8A8A8;
            }
            a{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #B2B2B2;
                text-decoration: none;
                margin: 0px 15px;
                &:hover, &:focus{
                    color: var(--gris__a__hover);
                }
            }
            h2{
                font-family: 'Söhne Breit';
                font-size: 48px;
                line-height: 42px;
                font-weight: 500;
                text-align: center;
                color: #B8B8B8;
                padding-top: 10%;
            }
        }
        .audios{
            padding-top: 50px; 
            .borde{
                border-bottom: 1px solid #262626;
            }
            .audios__img{
                img + p{
                    margin-left: 10px;
                }
                p{
                    font-family: 'Söhne Breit';
                    font-size: 18px;
                    line-height: 21px;
                    color: #9C9C9C;
                }
            }
            .audios__btn{
               a{
                    border: none;
                    outline: none;
                    text-align: center;
                    background: #dddddd14;
                    border-radius: 8px;
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    color: #B2B2B2;
                    min-height: 40px;
                    width: 100%;
                    max-width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover, &:focus{
                        background: #3333339f;
                        color: #dddddd;
                    }
               }
            }
        }
        .explorar{
            padding-top: 50px;
            button{
                border: none;
                outline: none;
                background-color: rgba(221, 221, 221, 0.08);
                border-radius: 22px;
                font-family: 'Inter';
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #989898;
                min-height: 60px;
                max-width: 350px;
                width: 100%;
                position:relative;
                z-index:0;
                &::before{
                    content:"";
                    position:absolute;
                    z-index:-1;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    padding: 2px;
                    border-radius: 16px;
                    background: linear-gradient(to top, var(--color2), var(--color1));
                    -webkit-mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                            mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
                &:hover, &:focus{
                    background: #171717;
                    border-radius: 22px;
                    box-shadow: 0px 3px 6px #0F0F0F;
                    &:before{
                        content: none;
                    }
                }
            }
        }
    }
    .crear__cuenta{
        width: 100%;
        height: 700px;
        max-height: 700px;
        position: relative;
        .div{
            position: absolute;
            top: 0;
            height: 100%;
            width:100%;
            background-image: url('../img/home_icons/crear__bck.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .contenedor{
                z-index: 2;
                h2{
                    font-family: 'Söhne Breit';
                    font-size: 60px;
                    font-weight: 400;
                    line-height: 81.9%;
                    text-align: center;
                    color: #D4D4D4;
                }
                a{
                    background-color: #DDDDDD;
                    border-radius: 16px;
                    text-decoration: none;
                    height: 70px;
                    width: 270px;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #171717;
                    &:hover, &:focus{
                        background-color: #ffffff;
                        color: #0c0c0c;
                    }
                }
            }
        }
    }
    .slider{
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            margin: 0px 60px;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
        }
        .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
            background-image: none;
        }
        .swiper-slide-active{
            width: 400px;
            height: 400px;
            transition: all ease 0.2s;
        }
        .swiper-slide-next, .swiper-slide-prev{
            width: 350px;
            height: 350px;
        }   
    }
}