@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* p, * h1, * h2, * h3, * h4, * h5 {
  margin-bottom: 0;
}

* .row__width {
  width: 100%;
}

:root {
  --gris__header: #989898;
  --gris__a:#B2B2B2;
}

.añadir {
  position: absolute;
  top: 100%;
  background-color: #0F0F0F;
  border: 1px solid #434343;
  -webkit-box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 11px 25px rgba(0, 0, 0, 0.65);
  border-radius: 26px;
  height: 300px;
  width: 300px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.añadir .crear__playlist input {
  border: 1px solid #464646;
  background-color: transparent;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B6B6B6;
  height: 50px;
  width: 100%;
  border-radius: 11px;
  padding-left: 15px;
  outline: none;
}

.añadir .crear__playlist input::-webkit-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B6B6B6;
}

.añadir .crear__playlist input:-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B6B6B6;
}

.añadir .crear__playlist input::-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B6B6B6;
}

.añadir .crear__playlist input::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B6B6B6;
}

.añadir .crear__playlist button {
  background-color: transparent;
  outline: none;
  background: #0F0F0F;
  border: 1px solid #232323;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-height: 32px;
  min-width: 32px;
  padding: 0;
}

.añadir .listas {
  max-height: 180px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0px 0px 20px 0px;
}

.añadir .listas::-webkit-scrollbar {
  -webkit-appearance: none;
}

.añadir .listas::-webkit-scrollbar-track {
  background: transparent;
}

.añadir .listas::-webkit-scrollbar-thumb {
  background: #363636;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.75);
  border-radius: 16px;
}

.añadir .listas::-webkit-scrollbar {
  width: 5px;
}

.añadir .listas h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
}

.añadir .listas p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
  opacity: 0.6;
}

.añadir .listas button {
  outline: none;
  background-color: transparent;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #DDDDDD;
  opacity: 0.6;
}

.añadir .listas .contenedor {
  padding: 10px 0px;
}

.container-fluid {
  background-color: #0F0F0F;
}

.container-fluid header {
  background-color: #0F0F0F;
  min-height: 70px;
}

.container-fluid header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.container-fluid header ul li {
  color: var(--gris__header);
  margin: 0px 15px;
}

.container-fluid header ul li img {
  margin-left: 5px;
}

.container-fluid header ul li ul {
  background-color: #171717;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
  border-radius: 0px 0px 22px 22px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 120%;
  min-height: 70%;
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  display: none;
  z-index: 2;
}

.container-fluid header ul li ul .col-2 {
  height: 100%;
}

.container-fluid header ul li ul .col-2 li {
  padding: 10px 5px;
}

.container-fluid header ul li:hover ul, .container-fluid header ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.container-fluid header a {
  color: var(--gris__a);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 5px;
}

.container-fluid header a img {
  margin-right: 5px;
}

.container-fluid header .empezar {
  background: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #989898;
}

.container-fluid header .empezar::before {
  content: '';
  position: absolute;
  border: inherit;
  -o-border-image: linear-gradient(180deg, #FF997D 0%, #6CD5CE 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#FF997D), to(#6CD5CE));
     border-image: linear-gradient(180deg, #FF997D 0%, #6CD5CE 100%);
}

.container-fluid .contenedor {
  position: relative;
}

.container-fluid .contenedor #gradient-canvas {
  --gradient-color-1: #b3d8ea;
  --gradient-color-2: #505583;
  --gradient-color-3: #ee7c47;
  --gradient-color-4: #eeeef5;
  padding: 0;
  max-height: 20%;
}

.container-fluid .contenedor .contenedor__superpuesto {
  position: absolute;
  top: 0;
}

.container-fluid .contenedor .contenedor__superpuesto .titulo {
  padding-top: 10%;
}

.container-fluid .contenedor .contenedor__superpuesto .titulo h1 {
  font-family: 'Söhne Breit';
  font-size: 80px;
  line-height: 59px;
  text-align: center;
  color: #171717;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-fluid .contenedor .contenedor__superpuesto .titulo h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #2D2D2D;
  padding-top: 2%;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda {
  position: absolute;
  bottom: -80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda p {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #171717;
  padding-bottom: 25px;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda .input {
  background-color: #E9E9E9;
  border: 2px solid #DDDDDD;
  border-radius: 36px;
  width: 100%;
  height: 100px;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 95%;
  height: 100%;
  padding-left: 5%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda input::-webkit-input-placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda input:-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda input::-ms-input-placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda input::placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
}

.container-fluid .contenedor .contenedor__superpuesto .input__busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
}

.container-fluid .contendor__gris {
  background-color: #181818;
  border-radius: 0px 0px 100px 100px;
  min-height: 1000px;
}

.container-fluid .contendor__gris .categorias {
  padding-top: 3%;
}

.container-fluid .contendor__gris .categorias h4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #A8A8A8;
}

.container-fluid .contendor__gris .categorias a {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B2B2B2;
  text-decoration: none;
  margin: 0px 15px;
}

.container-fluid .contendor__gris .categorias h2 {
  font-family: 'Söhne Breit';
  font-size: 48px;
  line-height: 42px;
  text-align: center;
  color: #B8B8B8;
  padding-top: 10%;
}

.container-fluid .contendor__gris .audios {
  padding-top: 50px;
}

.container-fluid .contendor__gris .audios .borde {
  border-bottom: 1px solid #262626;
}

.container-fluid .contendor__gris .audios .audios__img img + p {
  margin-left: 10px;
}

.container-fluid .contendor__gris .audios .audios__img p {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  color: #9C9C9C;
}

.container-fluid .contendor__gris .audios .audios__btn a {
  border: none;
  outline: none;
  text-align: center;
  background: rgba(221, 221, 221, 0.08);
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #B2B2B2;
  min-height: 40px;
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .contendor__gris .audios .audio {
  background-color: #232323;
  border-radius: 15px;
  min-height: 70px;
  margin: 10px 0px;
}

.container-fluid .contendor__gris .audios .audio .titulo button {
  border: none;
  background-color: transparent;
  outline: none;
}

.container-fluid .contendor__gris .audios .audio .titulo h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
  padding-left: 35px;
}

.container-fluid .contendor__gris .audios .audio .descripcion button {
  background-color: #3A3A3A;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  min-height: 25px;
}

.container-fluid .contendor__gris .audios .audio .descripcion button p + img {
  margin-left: 5px;
}

.container-fluid .contendor__gris .audios .audio .descripcion button p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #9B9B9B;
}

.container-fluid .contendor__gris .audios .audio .descripcion h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
  margin-left: 15px;
}

.container-fluid .contendor__gris .audios .audio .descripcion h5 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DDDDDD;
}

.container-fluid .contendor__gris .audios .audio .herramientas {
  position: relative;
}

.container-fluid .contendor__gris .audios .audio .herramientas a {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #6F6F6F;
  text-decoration: underline;
}

.container-fluid .contendor__gris .audios .audio .herramientas button {
  border: none;
  background-color: transparent;
  outline: none;
}

.container-fluid .contendor__gris .audios .audio .herramientas .obtener {
  background-color: #2A2A2A;
  border-radius: 12px;
  border: 1px solid rgba(255, 153, 125, 0.3);
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B6B6B6;
  min-height: 40px;
  padding: 5px 10px;
  width: 100%;
}

.container-fluid .contendor__gris .explorar {
  padding-top: 50px;
}

.container-fluid .contendor__gris .explorar button {
  border: none;
  outline: none;
  background-color: rgba(221, 221, 221, 0.08);
  border-radius: 22px;
  border: 1px solid #ff997d;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #989898;
  min-height: 60px;
  max-width: 350px;
  width: 100%;
}

.container-fluid .plataformas .titulo h2 {
  font-family: 'Söhne Breit';
  font-size: 60px;
  line-height: 81.9%;
  text-align: center;
  color: #E9E9E9;
  padding-top: 8%;
}

.container-fluid .plataformas .titulo h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #787878;
  padding: 50px 0px;
  width: 40%;
}

.container-fluid .plataformas .col-3 {
  margin: 10px 0px;
}

.container-fluid .plataformas .col-3 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF997D), to(#A76CD5));
  background: linear-gradient(180deg, #FF997D 0%, #A76CD5 100%);
  border-radius: 9px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .plataformas .col-3 p {
  margin-left: 15px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #E9E9E9;
  min-width: 80px;
  text-align: left;
}

.container-fluid .plataformas .planes {
  background: radial-gradient(100% 100% at 96% 100%, #958573 8.93%, #5D564E 37.12%, #323232 76.46%, #323232 100%);
  border: 1px solid #B2B2B2;
  border-radius: 56px;
  min-height: 530px;
  max-width: 500px;
  padding: 60px 50px;
}

.container-fluid .plataformas .planes h5 {
  font-family: 'Söhne Brei't;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #C4C4C4;
}

.container-fluid .plataformas .planes h3 {
  font-family: 'Söhne Breit';
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #DDDDDD;
}

.container-fluid .plataformas .planes p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B2B2B2;
  padding: 10px 0px 20px 0px;
}

.container-fluid .plataformas .planes h4 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #E2E2E2;
  padding: 20px 0px;
}

.container-fluid .plataformas .planes a {
  text-decoration: none;
  outline: none;
  background-color: #171717;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F5F5;
  min-height: 60px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .plataformas .planes .borde {
  border-bottom: 1px solid #676767;
}

.container-fluid .plataformas .plan__anual {
  background: radial-gradient(100% 100% at 96% 100%, #60937A 8.93%, #4E5D4E 37.12%, #323232 76.46%, #323232 100%);
}

.container-fluid .plataformas .plan__life {
  background: radial-gradient(100% 100% at 96% 100%, #958373 8.93%, #AFAF8B 37.12%, #323232 76.46%, #323232 100%);
}

.container-fluid .plataformas .espacio {
  height: 200px;
}

.container-fluid .crear__cuenta {
  width: 100%;
  height: 700px;
  max-height: 700px;
  position: relative;
}

.container-fluid .crear__cuenta .div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/home_icons/crear__bck.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .crear__cuenta .div .contenedor {
  z-index: 2;
}

.container-fluid .crear__cuenta .div .contenedor h2 {
  font-family: 'Söhne Breit';
  font-size: 60px;
  font-weight: 400;
  line-height: 81.9%;
  text-align: center;
  color: #D4D4D4;
}

.container-fluid .crear__cuenta .div .contenedor a {
  background-color: #DDDDDD;
  border-radius: 16px;
  text-decoration: none;
  height: 70px;
  width: 270px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #171717;
}

.container-fluid .footer {
  background-color: #181818;
  min-height: 280px;
}

.container-fluid .footer .borde__bottom {
  border-bottom: 1px solid #494949;
}

.container-fluid .footer .info a {
  width: 100%;
}

.container-fluid .footer .info .logo {
  height: 70px;
  width: 70px;
}

.container-fluid .footer .info .titulo {
  height: 20px;
}

.container-fluid .footer .info .idioma .col {
  max-width: 9%;
}

.container-fluid .footer .info .idioma .borde {
  border-right: 2px solid #C1BCBC;
}

.container-fluid .footer .info .idioma p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
}

.container-fluid .footer .info .idioma .active {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #E2E2E2;
}

.container-fluid .footer .info .plataformas a {
  width: 32px !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2D2D;
  border-radius: 50%;
  margin: 0px 10px;
}

.container-fluid .footer .info .plataformas a:first-child {
  margin: 0;
}

.container-fluid .footer .generos h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #C8C8C8;
}

.container-fluid .footer .generos a {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6F6F;
  padding-bottom: 10px;
}

.container-fluid .footer .copy p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  margin: 0px 10px;
}

.container-fluid .footer .copy p:first-child {
  margin-left: 0;
}

.container-fluid .footer .copy span {
  height: 100%;
  width: 2px;
  background-color: #6E6E6E;
}
/*# sourceMappingURL=index.css.map */