@import "imports/styles";
@import "imports/playlists";
@import "imports/audios";
@import "imports/footer";


.container-fluid{
    background-color: #0F0F0F;
    header{
        background-color: #0F0F0F;
        min-height: 70px;
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            width: 100%;
            height: 100%;
            position: relative;
            li{
                color: var(--gris__header);
                margin: 0px 15px;
                img{
                    margin-left: 5px;
                }
                ul{
                    background-color: #171717;
                    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
                    border-radius: 0px 0px 22px 22px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 120%;
                    min-height: 70%;
                    min-height: 300px;
                    width: 100%;
                    min-width: 900px;
                    display: none;
                    z-index: 2;
                    .col-2{
                        height: 100%;
                        li{
                            padding: 10px 5px;
                        }
                    }
                }
                &:hover, &:focus{
                    ul{
                        display: flex;
                        transition: ease 0.5s;
                    }
                }
            }
        }
        a{
            color: var(--gris__a);
            text-decoration: none;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin: 0px 5px;
            img{
                margin-right: 5px;
            }
        }
        .empezar{
            background: rgba(221, 221, 221, 0.1);
            border-radius: 16px;
            height: 40px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #989898;
            &::before{
                content: '';
                position: absolute;
                border: inherit;
                border-image:linear-gradient(180deg, #FF997D 0%, #6CD5CE 100%);
            }

        }
    }
    .contenedor{
        position: relative;
        #gradient-canvas {
            --gradient-color-1: #b3d8ea;
            --gradient-color-2: #505583;
            --gradient-color-3: #ee7c47;
            --gradient-color-4: #eeeef5;
            padding: 0;
            max-height: 20%;
        }
        .contenedor__superpuesto{
            position: absolute;
            top: 0;
            .titulo{
                padding-top: 10%;
                h1{
                    font-family: 'Söhne Breit';
                    font-size: 80px;
                    line-height: 59px;
                    text-align: center;
                    color: #171717;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                h4{
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #2D2D2D;
                    padding-top: 2%;
                }
            }
            .input__busqueda{
                position: absolute;
                bottom: -80%;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #171717;
                    padding-bottom: 25px;
                }
                .input{
                    background-color: #E9E9E9;
                    border: 2px solid #DDDDDD;
                    border-radius: 36px;
                    width: 100%;
                    height: 100px;
                }
                input{
                    outline: none;
                    border: none;
                    background-color: transparent;
                    width: 95%;
                    height: 100%;
                    padding-left: 5%;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #838383;
                    &::placeholder{
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: #838383;
                    }
                }
                button{
                    border: none;
                    background-color: transparent;
                    outline: none;
                }
            }
        }
    }
    .contendor__gris{
        background-color: #181818;
        border-radius: 0px 0px 100px 100px;
        min-height: 1000px;
        .categorias{
            padding-top: 3%;
            h4{
                font-family: 'Inter';
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #A8A8A8;
            }
            a{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #B2B2B2;
                text-decoration: none;
                margin: 0px 15px;
            }
            h2{
                font-family: 'Söhne Breit';
                font-size: 48px;
                line-height: 42px;
                text-align: center;
                color: #B8B8B8;
                padding-top: 10%;
            }
        }
        .audios{
            padding-top: 50px; 
            .borde{
                border-bottom: 1px solid #262626;
            }
            .audios__img{
                img + p{
                    margin-left: 10px;
                }
                p{
                    font-family: 'Söhne Breit';
                    font-size: 18px;
                    line-height: 21px;
                    color: #9C9C9C;
                }
            }
            .audios__btn{
               a{
                    border: none;
                    outline: none;
                    text-align: center;
                    background: rgba(221, 221, 221, 0.08);
                    border-radius: 8px;
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    color: #B2B2B2;
                    min-height: 40px;
                    width: 100%;
                    max-width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
               }
            }
        }
        .explorar{
            padding-top: 50px;
            button{
                border: none;
                outline: none;
                background-color: rgba(221, 221, 221, 0.08);
                border-radius: 22px;
                border: 1px solid rgba(255, 153, 125, 1);
                font-family: 'Inter';
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #989898;
                min-height: 60px;
                max-width: 350px;
                width: 100%;
            }
        }
    }
    .plataformas{
        .titulo{
            h2{
                font-family: 'Söhne Breit';
                font-size: 60px;
                line-height: 81.9%;
                text-align: center;
                color: #E9E9E9;
                padding-top: 8%;
            }
            h3{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #787878;
                padding: 50px 0px;
                width: 40%;
            }
        }
        .col-3{
            margin: 10px 0px;
            span{
                background: linear-gradient(180deg, #FF997D 0%, #A76CD5 100%);
                border-radius: 9px;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                margin-left: 15px;
                font-family: 'Inter';
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #E9E9E9;
                min-width:80px;
                text-align: left;
            }
        }
        .planes{
            background: radial-gradient(100% 100% at 96% 100%, #958573 8.93%, #5D564E 37.12%, #323232 76.46%, #323232 100%);
            border: 1px solid #B2B2B2;
            border-radius: 56px;
            min-height: 530px;
            max-width: 500px;
            padding: 60px 50px;
            h5{
                font-family: 'Söhne Brei't;
                font-size: 24px;
                line-height: 21px;
                text-align: center;
                color: #C4C4C4;
            }
            h3{
                font-family: 'Söhne Breit';
                font-size: 34px;
                line-height: 31px;
                text-align: center;
                color: #DDDDDD;
            }
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #B2B2B2;
                padding: 10px 0px 20px 0px;
            }
            h4{
                font-family: 'Söhne Breit';
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #E2E2E2;
                padding: 20px 0px;
            }
            a{  text-decoration: none;
                outline: none;
                background-color: #171717;
                border-radius: 16px;
                font-family: 'Inter';
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #F5F5F5;
                min-height: 60px;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .borde{
                border-bottom: 1px solid #676767;
            }
        }
        .plan__anual{
            background: radial-gradient(100% 100% at 96% 100%, #60937A 8.93%, #4E5D4E 37.12%, #323232 76.46%, #323232 100%);
        }
        .plan__life{
            background: radial-gradient(100% 100% at 96% 100%, #958373 8.93%, #AFAF8B 37.12%, #323232 76.46%, #323232 100%);
        }
        .espacio{
            height: 200px;
        }
    }
    .crear__cuenta{
        width: 100%;
        height: 700px;
        max-height: 700px;
        position: relative;
        .div{
            position: absolute;
            top: 0;
            height: 100%;
            width:100%;
            background-image: url('../img/home_icons/crear__bck.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .contenedor{
                z-index: 2;
                h2{
                    font-family: 'Söhne Breit';
                    font-size: 60px;
                    font-weight: 400;
                    line-height: 81.9%;
                    text-align: center;
                    color: #D4D4D4;
                }
                a{
                    background-color: #DDDDDD;
                    border-radius: 16px;
                    text-decoration: none;
                    height: 70px;
                    width: 270px;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #171717;
                }
            }
        }
    }
}