@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  background-color: #0F0F0F;
  min-height: 70px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

header ul li {
  color: var(--gris__header);
  margin: 0px 15px;
}

header ul li img {
  margin-left: 5px;
}

header ul li:hover, header ul li:focus {
  color: #fff;
}

header ul li ul {
  background-color: #171717;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.79);
  border-radius: 0px 0px 22px 22px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 120%;
  min-height: 70%;
  min-height: 300px;
  width: 100%;
  min-width: 900px;
  display: none;
  z-index: 2;
}

header ul li ul .col-2 {
  height: 100%;
}

header ul li ul .col-2 li {
  padding: 10px 5px;
}

header ul li:hover ul, header ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

header a {
  color: var(--gris__a);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 5px;
}

header a:hover, header a:focus {
  color: #fff;
}

header a img {
  margin-right: 5px;
}

header .box {
  position: relative;
  background: rgba(221, 221, 221, 0.1);
  padding: 10px;
  height: 50px;
  border-radius: 16px;
  z-index: 0;
}

header .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color2)), to(var(--color1)));
  background: linear-gradient(to top, var(--color2), var(--color1));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

header .box:hover, header .box:focus {
  background: #171717;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 6px #0F0F0F;
          box-shadow: 0px 3px 6px #0F0F0F;
}

header .box:hover:before, header .box:focus:before {
  content: none;
}

header .box a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #F5F5F5;
}

header span {
  height: 20px;
  width: 1px;
  background-color: #363535;
  margin: 0px 20px;
}

header .busqueda {
  background-color: #262626;
  border-radius: 10px;
  height: 40px;
}

@media (min-width: 992px) {
  header .busqueda {
    min-width: 300px;
  }
}

@media (max-width: 992px) {
  header .busqueda {
    background-color: transparent;
  }
}

header .busqueda input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
  height: 100%;
}

header .busqueda input::-webkit-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input:-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::-ms-input-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda input::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6D6868;
}

header .busqueda button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  height: 25px;
}

header .menu button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
}

.menu__seccion .menu__mobile {
  background-color: #171717;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__seccion .menu__mobile .cerrar {
  padding: 10px 15px;
}

.menu__seccion .menu__mobile .cerrar button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu__seccion .menu__mobile .cerrar button img {
  height: 15px;
}

.menu__seccion .menu__mobile ul {
  margin-bottom: 0;
  height: 100%;
}

.menu__seccion .menu__mobile ul li {
  padding: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Söhne Breit';
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__seccion .menu__mobile ul li span {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #67676748;
}

.menu__seccion .menu__mobile ul li span img {
  margin-left: 5px;
}

.menu__seccion .menu__mobile ul li ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: none !important;
  min-width: none !important;
  padding: 0;
}

.menu__seccion .menu__mobile ul li ul li {
  background-color: transparent;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6E6E6E;
}

.menu__seccion .menu__mobile ul li:hover ul, .menu__seccion .menu__mobile ul li:focus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* p, * h1, * h2, * h3, * h4, * h5 {
  margin-bottom: 0;
}

* .row__width {
  width: 100%;
}

* a {
  cursor: pointer;
}

:root {
  --gris__header: #989898;
  --gris__a:#B2B2B2;
  --gris__a__hover:#ffff;
  --color1:#ff997d;
  --color2:#6cd4ce;
  --n__1:#ff997d4d;
  --n__2:#ffa1134d;
}

@font-face {
  font-family: 'Söhne Breit';
  src: url("../../fonts/SB/SohneBreit-Halbfett.ttf");
}

.footer {
  background-color: #181818;
  min-height: 280px;
}

@media (max-width: 992px) {
  .footer {
    padding-top: 80px;
  }
}

.footer .borde__bottom {
  border-bottom: 1px solid #494949;
}

.footer .info a {
  width: 100%;
}

.footer .info .logo {
  height: 70px;
  width: 70px;
}

.footer .info .titulo {
  height: 20px;
}

.footer .info .idioma .col {
  max-width: 9%;
}

@media (max-width: 992px) {
  .footer .info .idioma .col {
    max-width: 40%;
  }
}

.footer .info .idioma .borde {
  border-right: 2px solid #C1BCBC;
}

.footer .info .idioma p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  cursor: pointer;
}

.footer .info .idioma p:hover, .footer .info .idioma p:focus {
  color: #ffffff;
}

.footer .info .idioma .active {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #E2E2E2;
}

.footer .info .plataformas a {
  width: 32px !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2D2D;
  border-radius: 50%;
  margin: 0px 10px;
}

.footer .info .plataformas a:first-child {
  margin: 0;
}

.footer .generos h2 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #C8C8C8;
}

.footer .generos a {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6F6F;
  padding-bottom: 10px;
}

.footer .generos a:hover, .footer .generos a:focus {
  color: #ffffff;
}

.footer .copy p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  margin: 0px 10px;
  text-align: center;
}

.footer .copy p:first-child {
  margin-left: 0;
}

.footer .copy span {
  height: 100%;
  width: 5px;
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .footer .copy span {
    display: none;
  }
}

.footer .before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .before:before {
  content: '';
  background-color: #494949;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer .before::before {
    content: none;
  }
}

.plataformas .titulo h2 {
  font-family: 'Söhne Breit';
  font-size: 60px;
  line-height: 81.9%;
  text-align: center;
  color: #E9E9E9;
  padding-top: 8%;
}

.plataformas .titulo h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #787878;
  padding: 50px 0px;
  width: 40%;
}

.plataformas .div {
  margin: 10px 0px;
}

.plataformas .div span {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF997D), to(#A76CD5));
  background: linear-gradient(180deg, #FF997D 0%, #A76CD5 100%);
  border-radius: 9px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .plataformas .div span {
    height: 30px;
    width: 60px;
  }
}

.plataformas .div p {
  margin-left: 15px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #E9E9E9;
  min-width: 80px;
  text-align: left;
}

.plataformas .planes {
  background: radial-gradient(100% 100% at 96% 100%, #958573 8.93%, #5D564E 37.12%, #323232 76.46%, #323232 100%);
  border: 1px solid #B2B2B2;
  border-radius: 33px;
  min-height: 530px;
  max-width: 500px;
  padding: 30px 20px;
}

@media (min-width: 992px) {
  .plataformas .planes {
    padding: 60px 50px;
    border-radius: 56px;
  }
}

.plataformas .planes h5 {
  font-family: 'Söhne Brei't;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #C4C4C4;
}

.plataformas .planes h3 {
  font-family: 'Söhne Breit';
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #DDDDDD;
}

.plataformas .planes p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #B2B2B2;
  padding: 10px 0px 20px 0px;
}

.plataformas .planes h4 {
  font-family: 'Söhne Breit';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #E2E2E2;
  padding: 20px 0px;
}

.plataformas .planes a {
  text-decoration: none;
  outline: none;
  background-color: #171717;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F5F5;
  min-height: 60px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plataformas .planes a:hover, .plataformas .planes a:focus {
  color: #ffffff;
  background: #0c0c0c;
}

.plataformas .planes .borde {
  border-bottom: 1px solid #676767;
}

.plataformas .plan__anual {
  background: radial-gradient(100% 100% at 96% 100%, #60937A 8.93%, #4E5D4E 37.12%, #323232 76.46%, #323232 100%);
}

.plataformas .plan__life {
  background: radial-gradient(100% 100% at 96% 100%, #958373 8.93%, #AFAF8B 37.12%, #323232 76.46%, #323232 100%);
}

.plataformas .espacio {
  height: 200px;
}

body {
  background-color: #171717;
}

body .plataformas .titulo h2 {
  padding-top: 50px;
}

@media (max-width: 992px) {
  body .plataformas .titulo h2 {
    font-family: 'Söhne Breit';
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #D4D4D4;
    padding-top: 0;
  }
}

body .plataformas .titulo h3 {
  padding-bottom: 0;
}

@media (min-width: 992px) {
  body .plataformas .titulo h3 {
    min-width: 800px;
  }
}

body .plataformas .empezar {
  padding: 40px 0px 50px 0px;
}

body .plataformas .empezar button {
  border: none;
  outline: none;
  background-color: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  height: 60px;
  min-width: 260px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #989898;
}

body .plataformas .empezar button:hover, body .plataformas .empezar button:focus {
  background: #171717;
  color: #fff;
  -webkit-box-shadow: 0px 3px 6px #0F0F0F;
          box-shadow: 0px 3px 6px #0F0F0F;
}

body .plataformas .planes {
  margin: 20px 0px;
}

@media (min-width: 992px) {
  body .plataformas .planes {
    min-height: 750px;
  }
}

body .plataformas .planes .incluidos {
  padding: 0px 0px 20px 0px;
}

body .plataformas .planes .incluidos h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E2E2E2;
  margin-left: 15px;
}

@media (min-width: 992px) {
  body .plataformas .planes .incluidos h2 {
    font-size: 10px;
    line-height: 12px;
  }
}

body .plataformas .planes .incluidos .contenedores {
  padding: 10px 0px;
}

body .plataformas .licencia {
  padding: 50px 0px;
}

@media (min-width: 992px) {
  body .plataformas .licencia {
    padding: 150px 0px;
  }
}

body .plataformas .licencia .borde__total {
  border: 1px solid #C4C4C4;
  border-radius: 56px;
  min-height: 300px;
  padding: 50px 30px;
}

@media (min-width: 992px) {
  body .plataformas .licencia .borde__total {
    min-height: 240px;
    padding: 0px 25px;
  }
}

body .plataformas .licencia .borde__total h3 {
  font-family: 'Söhne Breit';
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #C4C4C4;
}

body .plataformas .licencia .borde__total h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #838383;
  padding-top: 15px;
}

body .plataformas .licencia .borde__total ul {
  padding: 0;
}

body .plataformas .licencia .borde__total ul li {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E2E2E2;
  padding: 5px 0px;
}

@media (max-width: 992px) {
  body .plataformas .licencia .borde__total ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: #E2E2E2;
  }
}

body .plataformas .licencia .borde__total a {
  background: rgba(221, 221, 221, 0.1);
  border-radius: 16px;
  text-decoration: none;
  height: 70px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #989898;
}

body .plataformas .licencia .borde__total a:hover, body .plataformas .licencia .borde__total a:focus {
  background: #171717;
  color: #fff;
  -webkit-box-shadow: 0px 3px 6px #0F0F0F;
          box-shadow: 0px 3px 6px #0F0F0F;
}

@media (max-width: 992px) {
  body .plataformas .licencia .borde__total a {
    height: 50px;
    width: 60%;
  }
}
/*# sourceMappingURL=planes.css.map */